# Node
node_modules
package-lock.json
component-lifecycle-*.tgz
*.tgz
.npm
.pnp.*

# Debug
debug

# Dist
dist
**/.vitepress/dist

# Logs
*.log

# Cache and config dirs and files
.vscode
.cache
.eslintcache
.dccache
.DS_Store
**/.vitepress/cache
.nyc_output

# Test
coverage

# Env and secrets
.env
.env.*
!.env.example
